.section {
  max-width: 359px;
  margin: 0 auto;
  padding: 8px 0 0 0;

  @media (min-width: 768px) {
    max-width: 720px;
    padding: 16px 0 0 0;
  }
}

.container {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 12px 0 24px 0;
  color: black;
}

.scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  cursor: grab;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  min-width: 250px;
  flex: 0 0 auto;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  text-align: center;
  padding-bottom: 20px;
}

.image {
  width: 162px;
  height: 246px;
  background: #d9d9d9;
  border-radius: 24px;
  margin: 0 auto;
}

.card_title {
  font-size: 17px;
  font-weight: 600;
  margin: 24px 16px;
  width: 218px;
}
